#tab-bar.demo {
  display: flex;
  flex-direction: column;
}
#tab-bar .demoName {
  height: 40px;
}
#tab-bar .demo-preview-item .am-tab-bar {
  background-color: white;
}

.spin {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}