.loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.center-fix {
    display: -webkit-flex;
    -webkit-justify-content: center;
    -webkit-align-items: center;
    margin-top: 20px;
}